body{
  margin: 1px;
}
header{
  background-color: pink;
  color: black;
}
img{
  width: 50%;
  height: auto;
}
img:hover{
  transform: scale(1.2);
  transition: transform .5s;
}
.left{
  background-color: yellow;
  color: black;
}
.topnav ul{
  list-style-type: none;
}
.topnav li{
  display: inline;
}
.topnav li a{
  text-decoration: none;
}
section{
  background-color: grey;
  color: black;
}
footer{
  background-color: pink;
  color: black;
}
@media screen and (max-width: 600px){
  .left ul{
    list-style-type: none;
  }
  .left li{
    display: inline;
  }
  .left li a{
    text-decoration: none;
  }
}
